{% extends 'base/generic_base.html' %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}
{% load i18n %}
{% load staticfiles %}
{% load account socialaccount %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block content %}
<style type="text/css">
input[type=url],#id_remember{
  position: relative; left: -2px;
 } 
</style>

    <section class="intro" style="background: url({% static 'images/home.png' %});  background-size: cover; background-position: center center">
      <div class="container" style="color:#152c35;">
        <div class="row col-md-12 col-md-offset-4">
          <div class="well top3" style="background-color: #a5d5dabf; border: 21x solid #152c35;"> 

      <center><h1>{% trans "Sign In" %}</h1></center>
      {% get_providers as socialaccount_providers %}
      {% if socialaccount_providers %}
      <p>{% blocktrans with site.name as site_name %}Please sign in with one
      of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
      for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>
    <div class="socialaccount_ballot">
        <ul class="socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
        </ul>
        <div class="login-or">{% trans 'or' %}</div>
    </div>
      {% include "socialaccount/snippets/login_extra.html" %}

      {% else %}
      <p>{% blocktrans %}If you have not created an account yet, then please
      <a href="{{ signup_url }}"><button class="btn-success btn-xs" >sign up</button></a> {% endblocktrans %}</p>
      {% endif %}
      <div class="form-group">
        <div class="form-group">
          <form class="login" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {{ form|crispy}}
           
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <br />
            <button class="primaryAction btn btn-primary btn-sm" type="submit">{% trans "Sign In" %}</button>
            <br>
            <a class=" btn btn-link button secondaryAction" href="{% url 'account_reset_password' %}" style="color:#152c35;">{% trans "Forgot Password?" %}</a>
         </form>
         <center class="">
          <!-- <header> <i class="fa fa-">
              <strong class="">OR CONTINUE WITH&nbsp;&nbsp; <a href="{% url 'social:begin' 'google-oauth2' %}">
                  <button type="button" name="button" class="btn btn-danger btn-sm">GMail</button>
                </a></strong>
                </i>
          </header>    -->
       </center>
        </div>
      </div>
    </div>
    <!--div class="col-md-6">
      <img src="{% static 'images/badge.png'%}" style="width: 100%; height: 100%;">
    </div-->
  </div>
</div>
</section>

<script>
    function myFunctionp() {
        var element = document.getElementById("id_login");      
       element.classList.add("form-control");
    }
myFunctionp();  
    </script>
<script>
    function myFunctionl() {
        var element = document.getElementById("id_password");      
       element.classList.add("form-control");
    }
myFunctionl();  
    </script>
{% endblock%}