<center><a id="back2Top" title="Back to top" href="#">&#10148;</a></center>
<style>
.futa a{color:white;}
</style>
<!--Footer Start-->
<footer class="futa" style="background-color:black; color:thistle;">
    <div class="row">
            <div class="col-lg-4">              
                    <h3>Quick Links</h3>
                    <ul class="list-unstyled">
                        <li><a href='/post/'>Tales</a></li>
                        <li><a href='/services/'>services</a></li> 
                        <li><a href='/summarizer/'>Page Summararizer</a></li>
                        <li><a href='/contact/'>Contact Us</a></li>
                        <li><a href='/services/'>Products</a></li>
                      
                    </ul>
                </div>
                
                <div class="col-lg-4">
                <h3>Locate US</h3> 
                    <center>                   
                    <div class="text-center">
                        <iframe src="https://maps.google.com/maps?q=Benin&t=&z=13&ie=UTF8&iwloc=&output=embed"> </iframe>
                    </div>
                    </center>
                </div>
                <div class="col-lg-4">
                    
        <h2>Follow Us</h2>
            <div class="fb-page" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="#"><h4 style="color: white;">TalesAre.com</h4></blockquote></div></div>
            <div class="text-center">
                <a href="https://web.facebook.com/TalesArena-109975687106191/?modal=admin_todo_tour"  target="_blank"><i class="fa fa-facebook square"></i></a>
                <a href="#"  target="_blank"><i class="fa fa-twitter square"></i></a>
                <a href="https://chat.whatsapp.com/IErH1dUOF4P6744VpebCo7" target="_blank"><i class="fa fa-whatsapp square"></i></a>
                <a href="#"  target="_blank"><i class="fa fa-instagram square"></i></a>
            </div>
              
                                                            
                    </div>

               
    </div>
    <div class="col-lg-12" style="color: #152c35; background:#f9f6f6 ">
        <div class="text-center h6">&copy; 2019 <a href="/"><i style="color: #152c35;" class="fa  fa-file-code">www.talesarena.com</i></a></div>
    </div>
</footer>
<!--Footer End-->
</div>