{% extends 'base/generic_base.html' %} 
{% load crispy_forms_tags %}
{% load static %}
{% block content %}

   


 
                <center class="text-big top2 bottom6" id="tips">
                    <strong><p class="h2 text-center">
                        <div class="h2"><u>About</u></div>                            
                           
                    </p></strong>
                </center>
         

      <section class="intro">
            <div class="container">
              <div class="row well" id="#posttips">
               
                <div id="terms" class="col-md-10 col-md-offset-1">
                            <div class="">
                                    <strong class="h4 text-center">About US</strong>
                                <div class="panel">
                                        
                                        <center class="text-justify">
                                                @TalesArena
                                                We Inspire solutions to
                                                Life Challenges		And
                                                Transform the World
                                                with Our Tales <br />
                                                Talesarena is an oasis of passionate writer that seeks to inspire the world with the prodcuts of their 
                                                inspirations
                                        </center>
                                                

                                </div>
                                <div class="">
                                        <strong class="h4 text-center">Our Prodcuts and Services</strong>
                                    <div class="panel">
                                            
                                            <center class="text-justify">
                                                   We offer the following Services:
                                                   <ul>
                                                       <li><a href="/services/">Date Analysis</a></li>
                                                       <li><a href="/services/">Research / Project work</a></li>
                                                       <li><a href="/services/">Web Development</a></li>
                                                       <li><a href="/services/">Content Management</a></li>
                                                       <li><a href="/services/">Digital Marketing</a></li>
                                                   </ul>
                                            </center>
                                                    
    
                                    </div>
                                            <div class="text-justify">
                                               <strong class="h4 text-center"> POSTS TIPS</strong>
                                                    <center class="text-justify">
                                                    <p class="h6"> <b>{TIPS For Award Winning Posts} Let Your Post Be : </b></p>
                                                    <em>
                                                        <ul type='block' class="h5 text-justify panel panel-body">
                                                            <p> > Inspirational, Expressive, Full of Morals, Solution Driven and innovative.                 
                                                            <p> > Write in plain and "Easy to Understand" words. Give us some to cheer you for!</p>
                                                            <p> > Take advantage of the <b>Formats Features</b> in the textarea area to make your post unique and dynamic</p>
                                                            <p> > Add a Suitable Photo to expressively Caption your Post 
                                                                You can search for some amazing free stock photos <b> <a href="https://blog.snappa.com/free-stock-photos/" target="_blank">Here</a></b>
                                                                and/or <b><a href="https://www.pexels.com/" target="_blank">Here</a></b></p>

                                                        </ul>
                                                    </em>
                                                    
                                                    <hr>
                                                    <strong class="h4 text-center"> PUBLISHING </strong>
                                                    <div class="panel panel-body">
                                                        <strong>Note: </strong> 
                                                        All post will be reviewed by our Editorial team within 24hr of posting. This is to ensure that All Post meets the best standards before it is publised.
                                                    </div>
                                           
                                                    <hr id="taleslord">
                                                    <strong class="h4 text-center"> TALES LORD </strong>
                                                    <div class="panel panel-body">
                                                        <p class="text-center"><strong>About the Tales Lord Title</strong> </p>
                                                    <p> &nbsp;&nbsp; The <em>Tales Lord</em> is the user that authors the post with the hightest number of "likes and comments" per-time.<br>
                                                        &nbsp;&nbsp; As a token of motivation, we award award the "Tales Lord Title" to the User that retains the postion
                                                        as at 23:59 (11:59pm) Every Saturday.</p>
                                                        <p><em>{terms and conditions apply ;)}</em></p> <br>
                                                        <em>For more inquiries please <a href="/contact/"> Contact Us</a> </em>
                                                    </div>
                                            
                                                    </center>
                                                </div>
                                        <div class="text-center">
                                            <em>Thanks For Being a Part of the TalesArena Team.
                                            Now lets see what You've Got!</em>
                                            <br>  <hr>
                                        </div>
                                </div>
                        </div>
                    </div>
               </div>
             </div>
          </section>
{% endblock %}
