{% extends 'base/generic_base.html' %} 
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<section class="intro">
        <div class="container">
          <div class="row well">              
            <div class="col-lg-6 col-lg-offset-3" style="padding-left: 40px; padding-right: 40px;">
                               <center><p class="h3"><u>{{title}}</u></p>
                                    {% if confirm_message %}
                                    <p class="h4">{{confirm_message}}</p>
                                    {% endif %} 
                                </center>
 
 {% if form %}
                               
                <form class="form-horizontal bottom3 top3" role="form"  method="POST" action="." enctype="multipart/form-data">
                    <div class="form-group">                             
                        {% csrf_token %}
                        {% crispy form %}
                       
                    </div>
                    <center><input id="submit" name="submit" type="submit" value="contact" class="btn btn-info btn-hover"></center>
                </form>
{% endif %} 
{%if not form%}
<p style="height: 17vw;"></p>
{% endif %}                  
        </div>        
    </div>
</div>
</section>
{% endblock %}
